#headerwrap {
  border: 2px solid black;
  width: 75%;
  height: 100px;
  margin-left:100px;
  overflow: hidden;
}

#leftTop {
  width: 100px;
  border-right: 2px solid black;
  height: 100px;
}

#centerTop {
  width: 65%;
  border-right:2px solid black;
  height: 100px;
}

.top {
  float: left;
}

.midTop {
  height: 100px;
  border-right: 2px solid black;
  width: 10%;
  display:inline-block;
}

.rightTop {
  height: 100px;
  width: 5%;
}

#centerBlock {
  width: 60%;
  margin-top:70px;
  margin-left:200px;
  border: 2px solid black;
  clear: left;
  height: 100px;
}

#centralWrapper {
  margin-top: 100px;
  margin-left: 100px;
  overflow: hidden;
}

#leftColumn {
  border: 2px solid black;
  height: 500px;
  width: 200px;
  display: inline-block;
  float: left;
}

#columnWrapper {
  border: 2px solid black;
  height: 500px;
  width: 600px;
  margin-left: 250px;
}

.box {
  float: left;
  display: inline-block;
  border: 2px solid black;
  height: 250px;
  width: 32.6%;
}

#box3 {
  border-right: 3px solid black;
}

#bottomBox {
  height: 50%;
  width: 100%;
  float: left;
  overflow: hidden;
}

.nameContainer {
  margin-top: 100px;
}

.myName {
  margin-left:37%;
}

footer {
  border: 1px solid black;
  width: 85%;
  height: 50px;
}
